﻿@using UCMPM.Resources
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResource> LanguageContainer

@* 👇 Wrap the Router in the LoadingScreen component *@
<LoadingScreen>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>@LanguageContainer["thisPageDoesNotExist"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</LoadingScreen>