﻿@page "/"
@using UCMPM

@namespace UCMPM.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCMPM</title>
    <base href="~/" />

    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">

    <!-- Table animations -->
    <link rel="stylesheet" href="css/dreyanim.css">

    <!-- Table /externalforwarding -->
    <script src="js/ExternalForwarding.js"></script>

    <!-- USED FOR CONSOLE LOG-->
    <script>
        function scrollToBottom(ref) {
            ref.scrollTop = ref.scrollHeight;
        }
    </script>

    <!--Lottie anims-->
    <script src="js/lottie-player.js"></script>


</head>
<body>
    <app>
        <!-- Lets disable prerendering so JS interop call inside OnInitializedAsync will work -->
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>

    <!-- Table animations -->
    <script src="js/dreyanim.js"></script>

    <!--Contact Picker API-->
    <script src="js/contactpicker.js"></script>

</body>
</html>