﻿@page "/externalforwarding"
@using UCMPM.Data
@using UCMPM.Resources
@using Blazored.LocalStorage

@inject IJSRuntime JsRuntime
@inject InboundRoutesService InboundRoutesService
@inject AccountsService AccountsService
@inject ApplyChangesService ApplyChangesService
@inject NotificationService NotificationService
@inject ILocalStorageService LocalStorage
@inject UcmSettings UcmSettings
@inject IStringLocalizer<SharedResource> LanguageContainer
@inject DialogService DialogService


<h1>@LanguageContainer["forwarding"]</h1>

<p>@LanguageContainer["forwardingDesc"]</p>


@if (_inboundRoutes == null)
{
    <p>
        <em>@LanguageContainer["loadingRoutes"]</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@LanguageContainer["InbRouteNumber"]</th>
                <th>@LanguageContainer["InbRouteTarget"]</th>
                <th>@LanguageContainer["targetDetails"]</th>
                <th>@LanguageContainer["InbRouteToggle"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in _inboundRoutes)
            {
                // If
                // 1. it should show not-configured routes
                // 2. The route is configured
                if (!UcmSettings.PersonalSessionSettings.hideNotConfiguredRoutes || doesMatchForwardingRequirements(route))
                {
                    // Increase _amountOfRoutesThatMatchRequirement
                    _amountOfRoutesThatMatchRequirement++;

                    // If the mode is NOT 0 (and thus mode1,2,3 etc.) the forwarding is enabled
                    var forwardEnabled = route.inbound_mode != 0;

                    // The inboundroute members contain all the members (including the specific time and holiday members)
                    // The Mode1 default destination is the 2nd elements that has the value "tc": "0",
                    // So use find to get all the members where tc is 0, and THEN pick the 2nd item from the list
                    List<ListInboundRoutesResponse.Member> routeMembers = route.members.Where(i => i.tc == "0").ToList(); // C# 3.0+

                    var number = !String.IsNullOrEmpty(FigureOutNumber(route)) ? FigureOutNumber(route) : LanguageContainer["unknown"];

                    //Invert because disabled has to be true in order for the toggleswitch to be disabled
                    var switchDisabledStatus = !false;

                    string mode1Destination;
                    // Check if matches the requirement
                    if (doesMatchForwardingRequirements(route))
                    {
                        switchDisabledStatus = !true;
                        if (routeMembers?[1].destination_type == "external_number")
                        {
                            mode1Destination = routeMembers[1].external_number != "" ? routeMembers[1].external_number : LanguageContainer["unknownTarget"];
                        }
                        else
                        {
                            mode1Destination = LanguageContainer["unknownTarget"];
                        }
                    }
                    else
                    {
                        mode1Destination = LanguageContainer["forwardingNotPossible"];
                    }

                    <tr>
                        <td class="routesTableMargin">
                            <p class="routesTableInnerMargin">@number</p>
                        </td>
                        <td class="routesTableMargin">
                            @if (doesMatchForwardingRequirements(route))
                            {
                                // Check if matches the requirement
                                <RadzenDropDown class="routesTableInnerMargin" AllowClear="false" TValue="string"
                                                Data=@(Destinations.DestinationTypes(LanguageContainer))
                                                TextProperty="destination_type_string" ValueProperty="destination_type" Placeholder=@(LanguageContainer[LanguageContainer[routeMembers?[1].destination_type ?? string.Empty]]) Change="@(args => OnChangeTarget(args, route))">
                                </RadzenDropDown>
                            }
                            else
                            {
                                <p class="routesTableInnerMargin">@mode1Destination</p>
                            }
                        </td>

                        <td class="routesTableMargin" style="margin-top: -3px;">
                            @if (doesMatchForwardingRequirements(route) && routeMembers?[1].destination_type == "external_number")
                            {
                                // IF EXTERNAL_NUMBER
                                if (route.en_multi_mode == "no" || route.enable_inbound_muti_mode == "no")
                                {
                                    <p class="routesTableInnerMargin">@mode1Destination</p>
                                }
                                else
                                {
                                    <RadzenTextBox type="tel" id="externalForwardingExternalNumberTextBox" Style="width: 120px" Placeholder="@mode1Destination" Change=@(OnChangeExternalNumber) />
                                    <RadzenButton Click="@(_ => OnClickSaveExternalNumber(_externalNumber, route))" Icon="done" Style="margin-left: 4px" />
                                    <RadzenButton Click="@(_ => CheckAndGetContactFromPickerApi(route))" Style="margin-left: 2px" Icon="contacts" />
                                }

                            }
                            else if (doesMatchForwardingRequirements(route) && routeMembers?[1].destination_type == "account")
                            {
                                //ACCOUNT
                                //For the dropdown, we get the fullname for the first item in the _accounts list that matches the account/extension
                                <RadzenDropDown class="routesTableInnerMargin" AllowClear="false" TValue="string"
                                                Data=@(_accounts)
                                                TextProperty="fullname" ValueProperty="extension" Placeholder="@FigureOutAccountExtensionFullname(routeMembers?[1].account)" Change="@(args => OnChangeAccount(args, route))">
                                </RadzenDropDown>
                            }
                            else
                            {
                                // IF THE DESTINATION_TYPE is anything else than above print mode1Destination just like the previous td
                                <p class="routesTableInnerMargin">@mode1Destination</p>
                            }
                        </td>
                        <td class="routesTableMarginSwitch">
                            <RadzenSwitch Disabled="@switchDisabledStatus" Value="@forwardEnabled" ValueChanged="@(args => OnChange(args, route))" Style="margin-bottom: 20px; margin-top: 3px;" @onclick="@(_ => ShowSetForwardingNotification(switchDisabledStatus))" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    // If should hide not configured routes, add text IF there are unconfigured routes
    @if (UcmSettings.PersonalSessionSettings.hideNotConfiguredRoutes)
    {
        // If _inboundRoutes is larger than _amountOfRoutesThatMatchRequirement append text letting users know there are more routes not configured
        @if (_inboundRoutes.Count > _amountOfRoutesThatMatchRequirement)
        {
<p class="text-center" style="color: lightgray;">@LanguageContainer["hideNotConfiguredRoutesDesc", _inboundRoutes.Count - _amountOfRoutesThatMatchRequirement]</p>

            // Reset to 0                                                                                                                                                                     
            _amountOfRoutesThatMatchRequirement = 0;
        }
    }

}

@code
{
    private void SelectNumberFromMultipleNumbers(List<string> listOfNumbers)
    {
        DialogService.Open(LanguageContainer["forwardingMultipleNumbersFound"], ds =>
    @<div>
        <p>
            @LanguageContainer["forwardingMultipleNumbersFoundDesc"]
        </p>

        @foreach (string number in listOfNumbers)
        {
            <RadzenButton Click="_ => { SelectedNumberMultipleNumbersDialog(number);
                                                        ds.Close();}" Text=@number Style="margin: 4px;" />
        }

    </div>
    );
    }

    public void Dispose()
    {
        GC.SuppressFinalize(this);

        //Now dispose our object reference so our component can be garbage collected
        _objectReference?.Dispose();
    }

}