﻿@media screen and (max-width: 1000px) {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 2em;
        margin-left: 0px;
    }

    table, tr, td {
        border: none;
    }

        table thead {
            display: none;
        }

        table tr {
            -ms-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #ffffff;
            padding: 35px;
        }

        table td {
            display: flex;
        }

            table td::before {
                content: attr(label);
                font-weight: bold;
                width: 120px;
                min-width: 120px;
                padding-top: 8px !important;
            }

    .routesTableMargin {
        padding-bottom: 12px !important;
        padding-top: 12px !important;
    }

    .routesTableMarginSwitch {
        padding-bottom: 12px !important;
        padding-top: 12px !important;
    }

    .routesTableInnerMargin {
        margin-top: 10px;
    }

    .routesTableMarginInnerSwitch {
        margin-top: 3px !important;
    }
}

@media (min-width: 1000px) {
    .routesTableInnerMargin {
        margin-top: 4px;
    }

    .routesTableInnerMarginSwitch {
        margin-top: 0;
    }

    .routesTableMargin {
        padding-bottom: 10px !important;
        padding-top: 25px !important;
    }

    .routesTableMarginInnerSwitch {
        margin-top: 0 !important;
    }
}
