@page "/"
@using UCMPM.Resources
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResource> LanguageContainer

<h1>@LanguageContainer["about"]</h1>

@LanguageContainer["welcomeMessage"]
<VersionPrompt />

<span style="white-space: pre-line">@LanguageContainer["changelog"]</span>