@page "/settings"
@using UCMPM.Data
@using QRCoder
@using UCMPM.Resources
@using Blazored.LocalStorage
@inject DialogService DialogService
@inject ILocalStorageService LocalStorage
@inject NotificationService NotificationService
@inject SystemStatusService SystemStatusService
@inject IJSRuntime JsRuntime
@inject ClipboardService ClipboardService
@inject UcmSettings UcmSettings
@inject NavigationManager NavigationManager
@inject IStringLocalizer<SharedResource> LanguageContainer
@inject TooltipService tooltipService
@*for QueryHelpers*@

<h1>@LanguageContainer["settings"]</h1>

<p>@LanguageContainer["settingsDesc"]</p>

<style>
    form .row { margin-bottom: 16px; }
</style>
<RadzenTemplateForm Data="@TempUcmSettings" Submit="@((Ucm _) => { Submit(); })">
    <div class="row">
        <div class="col-md-6">
            <RadzenFieldset Text="@LanguageContainer["profile"]">
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="@LanguageContainer["UCMHost"]"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="hostname" @bind-Value="TempUcmSettings.host"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="@LanguageContainer["UCMPort"]"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="port" @bind-Value="TempUcmSettings.ucmPort"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel MouseEnter="@(args => ShowUsernameTooltip(args))" Text="@LanguageContainer["UCMUsername"]"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="username" @bind-Value="TempUcmSettings.username"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="@LanguageContainer["UCMPassword"]"/>
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword style="width: 100%;" @bind-Value="TempUcmSettings.password"/>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="@LanguageContainer["saveAndTest"]"/>
                        <RadzenButton style="margin-inline-start: 10px" Click=@(_ => GenerateQrCode()) Icon="qr_code"/>
                    </div>
                </div>
            </RadzenFieldset>

        </div>


        <div class="col-md-6">
            <RadzenFieldset Text="@LanguageContainer["personal"]">
                <RadzenCheckBox @bind-Value=@UcmSettings.PersonalSessionSettings.hideNotConfiguredRoutes TValue="bool" Change=@(args => OnChangeHideNotConfiguredRoutes())/>
                <RadzenLabel Text="@LanguageContainer["hideNotConfiguredRoutes"]" Style="margin-left: 5px;"/>
            </RadzenFieldset>
        </div>

        <div class="col-xl-6">
            <EventConsole @ref="@_console"/>
        </div>
    </div>
</RadzenTemplateForm>


@code {

    void GenerateQrCode(bool permanent = false)
    {

        // A permanent string won't contain the timeQrCodeWillExpire
        string finalQrString = String.Empty;
        string? timeQrCodeWillExpireString = null;
        if (!permanent)
        {
            var currentTime = DateTime.Now;
            var timeQrCodeWillExpire = currentTime.AddHours(1);
            timeQrCodeWillExpireString = timeQrCodeWillExpire.ToString("dd-MM-yyy HH:mm:ss");
            long timeQrCodeWillExpireLong = new DateTimeOffset(timeQrCodeWillExpire).ToUnixTimeMilliseconds();


            // CREATE QR CODE STRING
            // Creating the QR code with /externalforwarding destination as default

            string qrSetupContent = $"{TempUcmSettings.host}||{TempUcmSettings.ucmPort}||{TempUcmSettings.username}||{TempUcmSettings.password}||externalforwarding||{timeQrCodeWillExpireLong}";
            finalQrString = $"{NavigationManager.ToAbsoluteUri("settings")}?secret={System.Web.HttpUtility.UrlEncode(StringCipher.Encrypt(qrSetupContent))}";
        }
        else
        {
            string qrSetupContent = $"{TempUcmSettings.host}||{TempUcmSettings.ucmPort}||{TempUcmSettings.username}||{TempUcmSettings.password}||externalforwarding";
            finalQrString = $"{NavigationManager.ToAbsoluteUri("settings")}?secret={System.Web.HttpUtility.UrlEncode(StringCipher.Encrypt(qrSetupContent))}";
        }


        QRCodeGenerator qrGenerator = new QRCodeGenerator();
        QRCodeData qrCodeData = qrGenerator.CreateQrCode(finalQrString, QRCodeGenerator.ECCLevel.Q);

        BitmapByteQRCode qrCode = new BitmapByteQRCode(qrCodeData);
        string qrCodeImageAsBase64 = Convert.ToBase64String(qrCode.GetGraphic(20));

        DialogService.Open(LanguageContainer["qrSetup"], ds =>
            @<div>
                <p>
                    @LanguageContainer["qrSetupDesc", timeQrCodeWillExpireString ?? LanguageContainer["never"]]
                </p>
                <img src="@String.Format("data:image/png;base64,{0}", qrCodeImageAsBase64)" style="max-width: 100%; max-height: 100%;"/>
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex align-items-end justify-content-center">
                        <RadzenButton Click="() => { CopyToClipboard(finalQrString); }" Text="@LanguageContainer["copy"]" Icon="content_paste" Style="margin: 6px; margin-bottom: 10px;"/>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="() => { ds.Close(); GenerateQrCode(); }" Style="margin: 6px; margin-bottom: 10px;" Text="@LanguageContainer["refresh"]"/>
                        <RadzenButton Icon="warning" ButtonStyle="ButtonStyle.Danger" Click="() => { ds.Close(); GenerateQrCode(permanent: true); }" Style="margin: 6px; margin-bottom: 10px; background-color: rgb(255, 61, 61) !important; " Text="@LanguageContainer["generatePermanentQr"]"/>
                    </div>
                </div>
            </div>
            );
    }

}