﻿@using System.Globalization
@using UCMPM.Resources
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResource> LanguageContainer

<div class="console" @attributes="@Attributes">
    <div class="console-header">
        <div class="console-title">Console Log</div>
        <button class="console-clear" style="background-color:transparent !important; color: #000 !important;" @onclick="OnClearClick">@LanguageContainer["clear"]</button>
    </div>
    <div class="console-content" @ref="@_console">
        @foreach (var message in _messages)
        {
            <div class="console-message">
                <span class="console-message-time">@message.Date.ToString("HH:mm:ss.ff")</span>
                <span>@message.Text</span>
            </div>
        }
    </div>
</div>

@code {
    class Message
    {
        public DateTime Date { get; set; }
        public string Text { get; set; }
    }

    ElementReference _console;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object> Attributes { get; set; }

    IList<Message> _messages = new List<Message>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JsRuntime.InvokeVoidAsync("scrollToBottom", _console);
        }
    }

    void OnClearClick()
    {
        Clear();
    }

    public void Clear()
    {
        _messages.Clear();

        StateHasChanged();
    }

    public void Log(string message)
    {
        _messages.Add(new Message { Date = DateTime.Now, Text = message });

        StateHasChanged();
    }

}