﻿/* CONSOLE USED IN SETTINGS.RAZOR */

.console {
    background: #fff;
    border-radius: 4px;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 16px 0;
    padding: 0 0 16px 0;
}

.console-content {
    background-color: #ccc;
    flex: 1;
    overflow: auto;
}

.console-header {
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 8px 0;
}

.console-title {
    flex: 1;
    font-size: 24px;
    text-align: center;
}

.console-clear {
    appearance: none;
    background: transparent;
    border: none;
    color: #000;
    padding: 0 0 0 0;
}

.console-message {
    align-items: baseline;
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin: 8px;
    padding: 4px 0;
}

.console-message-time {
    font-size: 12px;
    padding: 2px 4px;
}
