﻿@using UCMPM.Data
@using UCMPM.Resources
@using Blazored.LocalStorage
@using System.Diagnostics
@inject UcmSettings UcmSettings
@inject ILocalStorageService LocalStorage
@inject IStringLocalizer<SharedResource> LanguageContainer
@inject NotificationService NotificationService

@if (_isLoaded)
{
    @ChildContent
}
else
{
    <div class="center">
        <div>
            <img style="width: 120px; height: 120px;" src="launch.png" />
        </div>
        <div>
            <lottie-player src="anim/loading.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></lottie-player>
        </div>
    </div>
}

@code {
    bool _isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Write to EventLog to check if permissions are set
        if (!Helper.WriteLogToEvents("OnInitializedAsync(); Loading UCMPM...", EventLogEntryType.Information))
        {
            // Sigh...Reading readme files is so hard... The EventSource could not be created
            var errorMessage = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = LanguageContainer["eventLogInitFailed"],
                Detail = LanguageContainer["eventLogInitFailedDesc"],
                Duration = 4000
            };
            NotificationService.Notify(errorMessage);
        }


        // Load UcmSettings into memory
        if (!await UcmSettings.LoadUcmSettingsToMemory(LocalStorage))
        {
            // Loading settings failed because they could not be decrypted or don't exist. (and thus will be reset)
            var errorMessage = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = LanguageContainer["loadingSettingsFailed"],
                Detail = LanguageContainer["loadingSettingsFailedDesc"],
                Duration = 4000
            };
            NotificationService.Notify(errorMessage);
        }
    
    
    // Load UcmPersonalSettings into memory
        if (!await UcmSettings.LoadPersonalUcmSettingsToMemory(LocalStorage))
        {
            // Loading settings failed because they could not be decrypted or don't exist. (and thus will be reset)
            /*var errorMessage = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = LanguageContainer["loadingSettingsFailed"],
                Detail = LanguageContainer["loadingSettingsFailedDesc"],
                Duration = 4000
            };
            NotificationService.Notify(errorMessage);*/
        }

        _isLoaded = true;
    }
}