@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <RadzenDialog />
        <RadzenNotification />
        <RadzenTooltip />
        <div class="top-row px-4">
            <a href="https://stjin.host">@author</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>