﻿@using System.Globalization
@using UCMPM.Resources
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResource> LanguageContainer

<div class="top-row pl-4 navbar navbar-dark">
    <img src="modifyme\branding.png" onerror="this.style.display='none'" style="height: 40px" />
    <a class="navbar-brand" href="">UCMPM</a>
    <button class="navbar-toggler" style="background-color: transparent !important" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="externalforwarding">
                <RadzenIcon Icon="send_to_mobile" />&nbsp;&nbsp;@LanguageContainer["forwarding"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <RadzenIcon Icon="settings" />&nbsp;&nbsp;@LanguageContainer["settings"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="info" />&nbsp;&nbsp;@LanguageContainer["about"]
            </NavLink>
        </li>
    </ul>
</div>