@using System.Globalization
@using UCMPM.Resources
@inject IJSRuntime JsRuntime
@inject IStringLocalizer<SharedResource> LanguageContainer

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <strong>
        @LanguageContainer["version", GetType().Assembly.GetName().Version?.ToString() ?? LanguageContainer["unknown"]];
    </strong>

    <span>
        @_flavor
    </span>
</div>